@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

:root {
  /* Primary colors */
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orangey-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);
  /* Gradients colors */
  --gradient-light-slate-blue: hsl(252, 100%, 67%);
  --gradient-royal-blue: hsl(241, 81%, 54%);
  --gradient-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral colors */
  --natural-white: hsl(0, 0%, 100%);
  --natural-pale-blue: hsl(221, 100%, 96%);
  --natural-light-lavender: hsl(241, 100%, 89%);
  --natural-dark-gray-blue: hsl(224, 30%, 27%);
}

/* **********Result********** */
.result-container {
  border: 2px solid green;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* background-image: linear-gradient(
    to bottom,
    var(--gradient-light-slate-blue),
    var(--gradient-royal-blue)
  ); */
  background: var(--gradient-royal-blue);
}
/* Result title */
.result-title {
  /* border: 1px solid orange; */
  text-align: center;
  font-size: 18px;
  color: var(--natural-light-lavender);
}

/* Result  score*/
.result-score-container {
  border: 1px solid blue;
  background: linear-gradient(to bottom, var(sl
  ), var(--gradient-royal-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  padding: 10px;
  border-radius: 100px;
}

.result-score {
  font-size: 50px;
  font-weight: 800;
  color: var(--natural-white);
}

.total-score {
  color: var(--gradient-light-slate-blue);
}

/* Result  status*/
.result-score-status {
  border: 1px solid red;
  text-align: center;
}

/* Footer */
footer {
  /* border: 1px solid red; */
}
